[submodule "frontend/themes/hugo-pathogens-portal"]
	path = frontend/themes/hugo-pathogens-portal
	url = https://github.com/sib-swiss/hugo-pathogens-portal.git
[submodule "pathogensportal-db"]
	path = pathogensportal-db
	url = https://github.com/elixir-cz-pathogens/pathogensportal-db.git
